.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .centered-button {
    margin-top: 20px;
  }
  
  ion-item {
    width: 100%;
    margin-bottom: 10px;
  }