ion-content{
    --background: linear-gradient(#01daf5, #019dfb);
}
.login-container {
    flex-direction: column;
    align-items: center;
    justify-content: center; bottom: 30%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.mi-iniciar{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 50.8px;
    text-align: center;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
}
ion-label {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    padding-top: 20px;
    background: blue;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}
ion-input {
    --padding-start: 10px;
  }

ion-item {
    width: 100%;
    margin: 10px 0;
    --background: transparent;
    border-radius: 5px;
    border: solid 1px black;
  }

.registrar{   
    border-color: black ;
    font-family: 'Poppins', sans-serif;
    font-size: 10.7px;
    text-align: center;
    margin: 8px; 
    border-radius: 80px;
    --background: white;
    --padding-start: 20px;
    --padding-end: 20px;
}

.olvidar-password {
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    font-size: 9px;
    text-align: center;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    --background: white;
    display: flex;
    margin: 0 auto;
}

.login-button {
    margin-top: 20px;
    --color: #fff;
  }


  .iniciar-sesion{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    justify-content: center; bottom: 30%;
    align-items: center;
    color: white;
    --background-color: #1166b8;
    padding-right: 40px;
    padding-left: 40px;
  }