<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>qr_d_base</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="qr-container">

    <qr-code [value]="valorQR" 
         size="300" 
         errorCorrectionLevel="M" />
        <ion-label>
          <h2>{{ valorQRJSON[0].nombre }}</h2>
          <p>{{ valorQRJSON[0].codigo }}</p>
        </ion-label>

    <p class="timer">Tiempo Restante {{ minutes }}:{{ seconds | number: '2.0' }}</p>


    <ion-button expand="block" color="primary" (click)="cerrar()">Cerrar</ion-button>
  </div>
</ion-content>
