<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reestablecer contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="reset-container">
    <ion-item lines="none">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" placeholder=""></ion-input>
    </ion-item>
    <ion-button expand="full" color="primary" class="centered-button" (click)="repetir()">Enviar</ion-button>
  </div>
</ion-content>