ion-header {
    --background: linear-gradient(to right, #4facfe, #00f2fe); /* Fondo degradado azul */
    --color: #ffffff; /* Texto blanco */
  }

  ion-item {
    width: 100%;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
  }
  
  .reset-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
  }
  
  .centered-item {
    width: 100%;
    max-width: 400px;
  }
  
  ion-button.centered-button {
    width: 100%;
    max-width: 400px;
    --background: #007bff; /* Fondo azul */
    --color: #ffffff; /* Texto blanco */
  }