ion-content{
    --background: linear-gradient(#01f5a4, #fb0101);
}

.qr-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.qr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.scan-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

ion-button {
  width: 80%;
  max-width: 900px;
  
}

ion-title.title {
  font-size: 22px;
  color: rgb(0, 0, 0);
}
