<ion-header>
  <ion-toolbar>
    <ion-title class="title">Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding qr-page">
  <!-- Si hay clase escaneada, muestra los detalles -->
  <div *ngIf="claseEscaneada; else escanearQR">
    <h2>{{ claseEscaneada.nombre }}</h2>
    <p>Profesor: {{ claseEscaneada.profesor }}</p>
    <p>Hora: {{ claseEscaneada.hora }}</p>

    <ion-button expand="full" (click)="marcarPresente()">
      Marcar Presente
    </ion-button>
  </div>

  <!-- Si no hay clase escaneada, muestra el botón de escaneo -->
  <ng-template #escanearQR>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="scan()" [disabled]="!isSupported">
        <ion-icon name="scan"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-template>
</ion-content>