<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Asistencia de Clases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="student-list-container">
    <ion-list>
      <ion-item *ngFor="let estudiante of estudiantes">
        <ion-checkbox slot="start"></ion-checkbox>

        <!-- Icono de persona -->
        <ion-avatar slot="start">
          <ion-icon name="person-circle-outline" style="font-size: 40px; color: #0075D9;"></ion-icon>
        </ion-avatar>

        <ion-label>
          <h2>{{ estudiante.nombre }} {{ estudiante.apellido }}</h2>
          <p>{{ estudiante.email }}</p>
        </ion-label>

        <!-- Botón eliminar mejorado -->
        <ion-button fill="clear" class="delete-button" (click)="eliminarEstudiante(estudiante.id)">
          <ion-icon name="trash-outline"></ion-icon> <!-- Ícono trash-outline mejorado -->
        </ion-button>
      </ion-item>
    </ion-list>
  </div>

  <div class="sticky-button-container">
    <ion-button expand="block" (click)="enviarAsistencia()">
      Enviar Asistencia
    </ion-button>
  </div>
</ion-content>