<ion-header>
  <ion-toolbar>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="lista-cursos">
    <ion-card *ngFor="let curso of cursos">
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="calendar"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{ curso.nombre }}</h2>
          <p>{{ curso.porcentaje }}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>
</ion-content>