ion-content{
    --background: linear-gradient(#01daf5, #019dfb);
}
.reset-password-content {
  --background: linear-gradient(135deg, #27bfff, #00a7d5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  padding: 0;
  margin: 0;
}

.form-container {
  background-color: white;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.15);
  text-align: center;
  justify-content: center;
  position: relative; 
  top: 90px;
}

.title {
  color: #0077b5;
  font-size: 24px;
  font-weight: 600;
}

.input-item {
  width: 100%;
  margin-bottom: 20px;
}

.input-item ion-input {
  font-size: 16px;
}

.input-item ion-icon {
  color: #0077b5;
}

.submit-button {
  --background: #0077b5;
  font-size: 18px;
  padding: 12px;
  border-radius: 10px;
  font-weight: 600;
  width: 100%;
  margin-top: 20px;
}