<ion-content class="reset-password-content">
  <div class="form-container">
    <h2 class="title">Restablecer contraseña</h2>

    <ion-item class="input-item">
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password"></ion-input>
      <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
    </ion-item>

    <ion-item class="input-item">
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password"></ion-input>
      <ion-icon slot="end" name="lock-closed-outline"></ion-icon>
    </ion-item>

    <ion-button expand="block" class="submit-button"  (click)="inicio()">Aceptar</ion-button>
  </div>
</ion-content>