ion-content {
  --background: linear-gradient(#01daf5, #019dfb);
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 88px;
  color: #fff;
  padding: 70px;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-spinner {
  --color: #fff;
  width: 50px;
  height: 50px;
  opacity: 0;
  animation: fadeIn 1.5s 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}