<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cursos_a</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="courses-container">
  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Inglés elemental</h2>
        <p>9:00 - 9:20</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Matemáticas aplicadas</h2>
        <p>10:00 - 11:30</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Mentalidad emprendedora</h2>
        <p>11:30 - 12:50</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Principios de cristianismo</h2>
        <p>17:00 - 18:30</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>