ion-content{
    --background: linear-gradient(#01daf5, #019dfb);
}

ion-header {
    --background: linear-gradient(to right, #ffcc00, #ff9900);
    --color: #ffffff;
  }
  
  .error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: #019dfb;
    background-color: whitesmoke;
  }
  
  .error-container h1 {
    font-size: 6em;
    margin: 0;
  }
  
  .error-icon {
    font-size: 4em;
    margin: 20px 0;
  }
  
  .error-container p {
    font-size: 1.2em;
    margin: 5px 0;
  }